@{
    ViewBag.Title = "Ebifa kukyibanja kyino";
}
<br />
<br />
<h2>Ebifa kukyibanja kyino</h2>
<br/>

<p style="font-size: 25px">MAKETI ky'ekyibanja wotundila byolina kumudaala gwo, bwoba okolela mu butale okwetoolola kampala.
    Tusuubila nti kyino kyiyamba okwoolesa byo'tundunda ku'mutimbagano nga kyo'ngela ne kubaguzi bo, kale olwo noyoola ensimbi nga bwosuubila.
    Kale webale kukola, era tossa mukono yongelela dala nga naffe bwetukuwagila mazima dala ojja kuwangula.
    bwoba olina kyobuuza kyona kukyibanja kyino, weleza obubaka obuwandiike ku moshenahmed@gmail.com ojja kudibwaamu mangu dala.<br/>
    Okutunda okulunji!
    </p>
