@{
    ViewBag.Title = "Ebifa kukyibanja kyino";
}
<br />
<br />
<h2>What is MAKETI?</h2>
<br/>

<p style="font-size: 25px">MAKETI is a platform where  market vendors around are able to sell their  fresh produce online hence increasing their income.
    We believe hundreds of vendors dont have any platform designed to meet up this challenge and only depend on drop in customers for their daily income mostly in the harsh economic conditions here in uganda.
    <br/>
    This platform is the solution to increase sales for our vendors so that they too can cop-up with the increasing costs of living.
    </p>
