@{
    ViewBag.Title = "Contact us";
}
<h2>: : Contact Address : :</h2>
<br/>

<address style="font-size: 25px">
    <a href="https://moshenahmed.github.io/nagawa-bukenya/">NAGAWA BUKENYA</a>
    <br />
    <br />
    Plot 521, Kasenyi road, Nkumba
    <br />
    P.O BOX 16588 Entebbe
    <br />
    <img class="phone" src="~/Images/WhatsApp-icon-for-iOS.png" />
    +256704005225
    <br />
    <br />
    <a href="https://moshenahmed.github.io/nagawa-bukenya/">Click here for homepage</a>
</address>

@*<address style="font-size: 25px">
    NAGAWA BUKENYA (SWEDEN)<br />
    Mellanbergsvägen 27, 
    135 45 Tyresö 
    Stockholm, Sweden<br />
    <abbr title="Phone">Phone number/Whatsapp:</abbr>
    +256704005225
</address>*@

<address>
    <strong>Support:</strong>   <a href="mailto:moshenahmed@gmail.com">moshenahmed@gmail.com</a><br />
</address>