<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8c4b10bf-6182-4030-9617-6faff5ba2746/resourcegroups/maketiResourceGroup/providers/Microsoft.Web/sites/maketi</ResourceId>
    <ResourceGroup>maketiResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://maketi.nu</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maketi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>maketi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$maketi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:maketidbserver.database.windows.net,1433;Initial Catalog=maketi_db;User ID=maketi@maketidbserver;Password=Maket!2018" Name="Data Source=tcp:maketidbserver.database.windows.net,1433;Initial Catalog=maketi_db;User Id=maketi@maketidbserver;Password=Maket!2018" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="mukatalev1._0.Models.ApplicationDbContext, mukatalev1.0" MigrationConfiguration="mukatalev1._0.Migrations.Configuration, mukatalev1.0" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maketidbserver.database.windows.net,1433;Initial Catalog=maketi_db;User Id=maketi@maketidbserver;Password=Maket!2018</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>